<!DOCTYPE html>
<html>
  <head>
    <title>DJD Photography</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans+Condensed:300|Questrial&display=swap" rel="stylesheet">

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <script type="text/javascript">
      window.imgArray = [];

      window.imgArray.push("<%=image_url('sample_1.jpg')%>");
      window.imgArray.push("<%=image_url('sample_2.jpg')%>");
      window.imgArray.push("<%=image_url('sample_3.jpg')%>");
      window.imgArray.push("<%=image_url('sample_4.jpg')%>");
      window.imgArray.push("<%=image_url('sample_5.jpg')%>");
      window.imgArray.push("<%=image_url('sample_6.jpg')%>");
      window.imgArray.push("<%=image_url('sample_7.jpg')%>");
      window.imgArray.push("<%=image_url('sample_8.jpg')%>");
      window.imgArray.push("<%=image_url('sample_9.jpg')%>");
      window.imgArray.push("<%=image_url('sample_10.jpg')%>");
      window.imgArray.push("<%=image_url('sample_11.jpg')%>");
      window.imgArray.push("<%=image_url('sample_12.jpg')%>");
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
