<!DOCTYPE html>
<html>
  <head>
    <title>DJDPhotography</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans+Condensed:300|Questrial&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
